/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
 font-family: sans-serif;
 }

.home-auth, .main{
  display: flex;
  flex-direction: column;
}



/**/

body {
  background-color: #fafafa;
  margin: 0px;
}

div {
  display: flex;
  justify-content: space-around;
}

.auth-form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title-and-auth-form {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  border: 1px solid #e6e6e6;
  background-color: white;
  width: 328px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cover-flower {
  width: 330px;
  height: 495px;
  margin: 15px;
  border-radius: 12px;
}

.flower-box {
  height: 600px;
  display: flex;
  align-items: center;
}

.right-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.bottom-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}

.bottom-nav-links{
  font-style: sans-serif;
  font-weight: 700;
  color: #003569;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-nav-section {
  width: 200px;
  flex-direction: row;
  align-content: space-between;
  font-style: sans-serif;
  font-weight: 700;
  color: #003569;
  font-size: 14px;
  padding: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 25px;
  width: 231px;
  font-size: 14px;
}

.title {
  font-size: 50px;
  font-family: 'Oleo Script Swash Caps';
  align-self: center;
  margin: 0px;
}

.cover-page input{
  margin-bottom: 10px;
}
.cover-page button{
  margin-bottom: 10px;
}

.tag-line {
  color: #A1A0A0;
  align-self: center;
  font-size: 21px;
  margin-bottom: 20px;
}

.swap-form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}


button {
  background-color: #3588F6;
  color: white;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  line-height: 1.6;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 237px;
}

button:active {
  background-color: #7BB0F4;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

.li-error {
  color: #cc0000;
  text-align: center;
}



/*profile page*/

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  top: 77px;
  position: relative;
}

.profile-pic {
  width: 100%;
  height: 100%;
  max-width:150px;
  max-height:150px;
  border-radius: 100px;
}

.profile-pic-small {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
  border-radius: 100px;
}

.profile-pic-index {
  max-width: 1000px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-family: 'Open Sans Condensed';
  font-size: 34px;
}

.profile-page .pic {
  width: 293px;
  height: 293px;
  padding: 14px;
}

.profile-top {
  width: 400px;
  display: center;
}

.profile-page .pic:hover {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.pic-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 77px;
  position: relative;
  padding: 0;
}



/**/
/*NAV BAR*/


.nav-bar {
  background-color: white;
  height: 77px;
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  width: 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  z-index:1;
}

.nav-title {
  font-size: 30px;
  font-family: 'Oleo Script Swash Caps';
  align-self: center;
  color: black;
  margin: 0px;
}
.camera-icon, .pipe-icon {
  width: 35px;
  height: 35px;
}

.right-nav-icons {
  width: 280px;
}

.log-out-button {
  width: 80px;
  height: 24px;
  font-size: 13px;
}

.upload-icon, .heart-icon, .person-icon {
  width: 24px;
  height: 24px;
}

.search {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  text-align: center;
  width: 200px;
}



/*homepage*/

.pic-index-homepage{
  display: flex;
  flex-direction: column;
  width: 1000px;
}


.pic-index-homepage .pic{
  width: 600px;
  height: 600px;
}

.homepage-post {
  display: flex;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  margin: 30px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.profile-pic-small {
  margin: 16px;
  margin-right: 10px;
}

.post-footer {
  background-color: white;
}

.comment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}


.comment-index {
  padding: 16px;
  padding-top: 0px;
  width: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comment-index button {
  color: #c7c7c7;
  font-size: 18px;
  width: 18px;
  background-color: inherit;
  float: right;
}

.comment-index span {
  display: flex;
}

.comment-author {
  font-weight: 700;
  margin-right: 10px;
}

.comment-input {
  border: none;
  font-size: 14px;
  color: black;
  outline: none;
  width: 550px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid lightgray;
}

.speech-bubble-icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.like-comment-icons {
  display: flex;
  align-items: center;
  margin-left: 13px;
  margin-top: 10px;
}

.like-comment-icons .heart-icon {
  width: 24px;
  height: 24px;
}

.like-button {
  background-color: inherit;
  display: flex;
  justify-content: center;
  width: 30px;
}

.like-button:active {
  background-color: inherit;
}

.like-count{
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  margin: 15px;
}

.caption {
  display: flex;
  padding-left: 16px;
  margin-top: 10px;
}

.caption-author {
  font-weight: 700;
  margin-right: 10px;
}
/*upload page*/
.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 77px;
  position: relative;
}

.upload-page input {
  margin: 20px;
}

.dropzone {
  background-color: lightblue;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-style: dashed;
  border-color: #3588F6;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  margin: 50px;
}

.dropzone p {
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
}
.dropzone:hover {
  background-color: lightgreen;
}

.flowerIcon {
  height: 59px;
  width: 25px;
}
