/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #fafafa;
}

body, div {
  font-style: sans-serif;
}

div {
  display: flex;
  justify-content: space-around;
}

.cover-page {
  display: flex;
}

.auth-form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth-form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title-and-auth-form {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  border: 1px solid #e6e6e6;
  background-color: white;
  width: 328px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cover-flower {
  width: 330px;
  height: 495px;
  margin: 15px;
  border-radius: 12px;
}

.flower-box {
  height: 600px;
  display: flex;
  align-items: center;
}

.right-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 25px;
  width: 231px;
  font-size: 14px;
}

.title {
  font-size: 50px;
  font-family: 'Oleo Script Swash Caps';
  align-self: center;
  margin: 0px;
}

.tag-line {
  color: #A1A0A0;
  align-self: center;
  font-size: 21px;
  margin-bottom: 20px;
}

.swap-form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}


button {
  background-color: #3588F6;
  color: white;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  line-height: 1.6;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 237px;
}

button:active {
  background-color: #7BB0F4;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

.li-error {
  color: #cc0000;
  text-align: center;
}





/*profile page*/

.profile-pic {
  width: 100%;
  height: 100%;
  max-width:150px;
  max-height:150px;
  border-radius: 100px;
}

.pic {
  width: 300px;
  height: 300px
}
