/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #fafafa;
}

body, div {
  font-style: sans-serif;
}

div {
  display: flex;
  justify-content: space-around;
}

.home-auth {
  display: flex;
  flex-direction: row;
  margin: 100px;
}

.cover-page {
  display: flex;
}

.auth-form {
  width: 328px;
}

.title-and-auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e6e6e6;
  background-color: white;
  height: 500px;
}

.cover-flower {
  width: 330px;
  height: 495px;
  margin: 15px;
  border-radius: 12px;
}

.flower-box {
  height: 600px;
  display: flex;
  align-items: center;
}

.right-half {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  margin: 15px;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  height: 400px;
}

input {
  height: 25px;
  font-size: 14px;
}

.title {
  font-size: 50px;
  font-family: 'Oleo Script Swash Caps';
  align-self: center;
  margin: 10px;
}

.swap-form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

form {
  display: flex;
  justify-content: center;
}

button {
  background-color: #3588F6;
  color: white;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  line-height: 1.5;
  border-radius: 3px;
  border: none;
  outline: none;
}
